!!!
%html
  %head
    %title SimpleFeed
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container
          %a.brand(href='/') SimpleFeed
          %ul.nav.nav-pills.pull-right
            %li= link_to "home", '/'
            - if logged_in?
              %li= link_to "log out", '/logout'
            - else
              %li= link_to "log in", '/login'
              %li= link_to "sign up", '/signup'
    .container
      - if flash.notice.present?
        .alert.alert-info= notice
      - if flash.alert.present?
        .alert.alert-error= alert

      = yield

